<div class="container">
  <div class="row">
    <div class="col-md-3">

      <ul *ngIf="villes" class="list-group">
        <li [ngClass]="v==currentVille?'active':''" *ngFor="let v of villes._embedded.villes"
            class="list-group-item clickable"
            (click)="onGetCinemas(v)">
          {{v.name}}
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">liste des cinemas</div>
        <div class="panel-body">
          <ul *ngIf="cinemas" class="nav nav-pills">
            <li [ngClass]="c==currentCinema?'active':''" *ngFor="let c of cinemas._embedded.cinemas"
                class="list-group-item clickable" (click)="onGetSalles(c)">
              <a>{{c.name}}</a>
            </li>

          </ul>
          <div class="row" style="margin-top: 10px" *ngIf="salles">

            <div *ngFor="let s of salles._embedded.salles">
              <div class="col-md-6">
                <div class="panel panel-default ">

                  <div class="panel panel-heading">
                    {{s.name}}
                  </div>
                  <div class="panel panel-body" *ngIf="s.projections">
                    <div class="row">
                      <div class="col-md-6">
                        <img width="165" height="270"
                             src="{{cinemaService.url+'/imageFilm/'+s.projections._embedded.projections[0].film.id}}"/>
                      </div>
                      <div class="col-md-6">
                        <ul class="list-group">
                          <li class="list-group-item">
                            seances:
                          </li>
                          <li [ngClass]="p.seance==currentSeance?'active':''"
                              *ngFor="let p of s.projections._embedded.projections" class="list-group-item clickable"
                              (click)="onGetplaces(p)">
                            {{p.seance.heureDebut}}=>prix:{{p.prix|number:'0.00'}}DH
                          </li>
                        </ul>
                      </div>

                    </div>
                    <div *ngIf="currentProjection">
                      <div *ngIf="currentProjection.salle.id==s.id">
                        <div *ngIf="currentProjection.tickets" class="row">
                          <div>
                            <button class="{{getTicketClass(t)}}" (click)="onSelectTickets(t)" [disabled]="t.reserve==true"
                                    *ngFor="let t of currentProjection.tickets._embedded.tickets" >
                              {{t.place.numeroPlace}}
                            </button>
                          </div>
                          <div *ngIf="selectedTickets.length>0">
                            <form #f="ngForm" (submit)="onPayTickets(f.value)">
                              <div class="form-group">
                                <label class="control-label">Nom Client:</label>
                                <input class="form-control" type="text" name="clientName" ngModel >
                              </div>
                              <div class="form-group">
                                <label class="control-label">Code de payemment:</label>
                                <input class="form-control" type="text" name="codePayement" ngModel >
                              </div>
                              <button class="btn btn-success" type="submit">Payer</button>
                            </form>

                          </div>
                        </div>
                      </div>

                    </div>
                  </div>


                </div>
              </div>

            </div>

          </div>

        </div>
      </div>

    </div>
  </div>

</div>
